<!-- <h1 style="text-align:center">Angular By {{title}}</h1>

<app-user></app-user>

<app-aboutus></app-aboutus> -->

<ul>
    <li class="menu"><a routerLink="">Home</a></li>
    <li class="menu"><a routerLink="user">User</a></li>
    <li class="menu"><a routerLink="about">AboutUs</a></li>
    <li class="menu"><a routerLink="post">Post</a></li>
    <li class="menu"><a routerLink="events">Events</a></li>
    <li class="menu"><a routerLink="employees">Employees</a></li>
</ul>
<router-outlet></router-outlet>