<div style="width:50%; float:left;">
Test it <input type="text" (blur)="isBlur = true;" (change)="isChange = true;" (dblclick)="isDBLClick = true;" (paste)="isPaste = true;" [(ngModel)]="txtBox"/>
<br /><label *ngIf="isBlur" style="color: rgb(148, 23, 106)">   You just blur textbox</label>
<br /><label *ngIf="isChange" style="color: rgb(148, 23, 106)">   You just change value in textbox</label>
<br /><label *ngIf="isDBLClick" style="color: rgb(148, 23, 106)">   You just double click textbox</label>
<br /><label *ngIf="isPaste" style="color: rgb(148, 23, 106)">   You just paste on textbox</label><br />
<input type="checkbox" [(ngModel)]="isBlur" /> is blur ?<br />
<input type="checkbox" [(ngModel)]="isChange" /> is change ?<br />
<input type="checkbox" [(ngModel)]="isDBLClick" /> is double click ?<br />
<input type="checkbox" [(ngModel)]="isPaste" /> is paste ?

</div>
<div style="width:50%; float:left;">
  Price : {{txtBaht | currency : '฿'}}<br />
  <ul>
    <li *ngFor="let x of townList">{{x.town}}</li>
  </ul>
</div>